.desktop_icon{
    cursor: pointer;
    margin: 1.2em 1.2em;
    float: right;
}
.desktop_icon table td{
    text-align: center;
}
.desktop_icon_image{
    height: 4.2em;
}
.desktop_icon_name{
    color: white;
    margin-top: .5em;
    font-size: 1.3em;
    text-shadow: 2.5px 2.5px 5px rgba(3, 3, 3, 0.842);
}