/* @import url(./window.css); */
@import url(./desktop.css);
*{
    margin : 0;
    padding : 0;
    user-select: none;
    --global_font :  Microsoft Sans Serif;

    --start_btn_color : rgba(253, 253, 253, 0.9);
    --start_btn_color_hover : rgba(129, 129, 129, 0.9);

    --taskbar_size : 6%;
    --taskbar_color : rgba(116, 31, 252, 0.8);
    --time_widget_color : rgba(56, 4, 139, 0.8);
    --taskbar_app_color_in_blur : #3b84d8;
    --taskbar_app_color_in_foucs : #7380f5;
    --taskbar_shadow : 0px 0px 4px 4px #00000033;
    --taskbar_app_height : 80%;
    --global_inset_shadow : 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
    
}

#desk{
    position: absolute;
    width: 100%;
    height: 100%;
    /*
    top:0px;
    left:0px;
    */
}


/* buttom task bar who contain 'windows_button' current running applications & stuff */
#desktop_taskbar{
    background-color : var(--taskbar_color);
    position: fixed;
    width: 100%;
    height: var(--taskbar_size);
    top: calc(100% - var(--taskbar_size));
    box-shadow: var(--taskbar_shadow);
    z-index: 999999999999999999;
}

/* full windows menu button  */
#start_button{
    position: relative;
    height: 100%;
    left: 0px;
    width: max-content;
    background-color: var(--start_btn_color);
    /* border-radius: 0vh 1vh 2.8vh 0vh; */
    float: left;
    box-shadow: var(--global_inset_shadow);
    transition: 0.2s;
    top: 0px;
}

#expdgBtn{
    color: white;
    background-color: #3794ff;
    border-radius: 50%;
    box-shadow: var(--global_inset_shadow);
    padding: 5px;
    position:absolute;
    right: 7%;
    top: 24%;
    font-size: 1.1em;
    cursor: pointer;
    float: right;
    transition: .3s ease;
}
#expdgBtn #right_arrow{
    display: none;
}
#expdgBtn:hover{
    background-color: #40a2fd;
}


/* time widget styling */
#time_widget{
    position: relative;
    height: 100%;
    width: max-content;
    background-color : var(--time_widget_color) ;
    /* border-radius: 1vh 0vh 0vh 1vh; */
    float: right;
    box-shadow: var(--global_inset_shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .3s ease;
}
#time, #date{
    color: white;
    font-family: tahoma;
    font-size: 0.8em;
    font-weight: bold;
    margin-right: 10px;
    margin-left:  10px;
}
/* on hover event */
#start_button:hover{
    background-color: var(--start_btn_color_hover);
    transition: 0.1s;
    cursor:  pointer;
}
/* on click event */
#start_button:active{
    transform: scale(0.98);
}

/* logo windows menu button */
#start_button img{
    position: relative;
    height: 80%;
    top: 10%;
    left: 0%;
    display: inline-block;
}

/* text windows menu button */
#start_button p{
    position: relative;
    height: 80%;
    top : 10%;
    left: 0%;
    display: inline-block;
    color : white;
    font-family: var(--global_font);
    font-weight: bold;
    font-size: 4vh;
}
/* application in taskbar */
#taskbar .app_in_taskbar{
    position : relative;
    height: var(--taskbar_app_height);
    float: left;
    background : var(--taskbar_app_color_in_blur);
    border-radius: 0.5vh;
    top: 10%;
    margin-left: 4px;
    transition: 0.1s;
    cursor: pointer;
}

/* in click event */
#taskbar .app_in_taskbar:active{
    transform:scale(0.96);
}

/* in hover event */
#taskbar .app_in_taskbar:hover{
    background-color : var(--taskbar_app_color_in_foucs);
}

#taskbar .app_in_taskbar .app_icon{
    position: relative;
    float:left;
    height: 70%;
    margin-left: 0.5vh;
    top: 15%;
}
#taskbar .app_in_taskbar .app_name{
    position: relative;
    color: white;
    font-family: var(--global_font);
    font-weight: bold;
    float:left;
    font-size: 2vh;
    top: calc(50% - 1vh);
    padding-right: 1vh;

    -webkit-touch-callout: none;    /* iOS Safari */
    -webkit-user-select: none;      /* Safari */
    -khtml-user-select: none;       /* Konqueror HTML */
    -moz-user-select: none;         /* Old versions of Firefox */
    -ms-user-select: none;          /* Internet Explorer/Edge */
    user-select: none;              /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}