*{
    --window_in_foucs_color : rgba(27, 27, 27, 1);
    --window_out_focus_color : rgb(122, 153, 227);
    --window_radius : 0.8vh  0.8vh  0vh 0vh;
    --win_deflt_font_size : 2.5vh;
    --window_title_bar_height : 5vh;
    --win_title_bar_margin_btwn_elts : 1vh;
    --window_resize : 1vh;

    /* testing colors */
    --window_test_color : rgba(116, 31, 252, 0.8);
    --container_color : rgba(24, 24, 24, 0.8);
}

.window {
    position: absolute;
    /* 
    border-radius: 0.8vh  0.8vh  0vh 0vh;
    background: var(--window_in_foucs_color);
     */
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.363);
    overflow: hidden;
    height : 200px;
    width : 50%;
    top: 10px;
    left : 100px;
}

.window .top_bar {
    position :relative;
    cursor: move;
    user-select: none;
    left : var(--window_resize);
    width: calc(100% - var(--window_resize) * 2) ;
    height: 4vh;
    overflow: hidden;
    background-color: var(--window_test_color );
    display: grid;
    grid-template-columns: 10% 66% 24%;
}

.window .top_bar .icon{
    position :relative;
    height : 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
}

.window .top_bar .title{
    position: relative;
    font-family: Microsoft Sans Serif;
    color : white;
    font-weight: bold;
    font-size : 2.5vh;
    display:  inline-block;
    cursor: default;
    user-select: none;
    margin-top: 0.5vh;
    /* text-align: center; */
}

.window .top_bar .buttons {
    position:  absolute;
    width: calc( 3vh * 3 + 3vh);
    height : 3vh;
    top : 0.5vh;
    right : 0vh;
}

.window .top_bar .tb_button{
    position: relative;
    display: inline-block;
    height: 3vh;
    margin-left: 0.5vh;
    width: 3vh;
    cursor: pointer;
    background-size: cover;
    background-color: rgb(255, 255, 255);
}


.window .top_bar .hide{
    background-image : url("../graphics/window_min.png");
}

.window .top_bar .maximize{
    background-image : url("../graphics/window_max.png");
}

.window .top_bar .close{
    background-image : url("../graphics/window_close.png");
}

.window .container {
    position: relative;
    width: calc(100% - 1vh * 2);
    height: calc( 100% - ( 5vh ) );
    left: 1vh;
    overflow: auto;
    background-color : var( --container_color );
}

.window .resize_horizontal{
    position: absolute;
    width: calc(100% - 2vh);
    height: 1vh;
    left: 1vh;
    cursor: s-resize;
}

.window .resize_top{
    top : 0%;
    background-color: transparent;
}

.window .resize_down{
    top : calc(100%  - 1vh);
    background-color: var(--window_test_color );
}

.window .resize_vertical{
    position: absolute;
    width: 1vh;
    top: 1vh;
    height: calc(100% - 2vh);
    cursor: e-resize;
    background-color: var(--window_test_color );
}

.window .resize_left{
    left: 0%;
}

.window .resize_right{
    left : calc(100%  - 1vh);
}

.window .resize_corner{
    position : absolute;
    width: 1vh;
    height: 1vh;
    background-color: var(--window_test_color);
}

.window .resize_tl{
    top :0vh;
    left:0vh;
    cursor:se-resize;
}
.window .resize_tr{
    top :0vh;
    left:calc(100% - 1vh);
    cursor:sw-resize;
}
.window .resize_bl{
    top:calc(100% - 1vh);
    left:0vh;
    cursor:sw-resize;
}
.window .resize_br{
    top: calc(100% - 1vh);
    left:calc(100% - 1vh);
    cursor:se-resize;
}

.resize{
    z-index: 9;
}